################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFlashWebOutlookAddin/.vs/MFlashWebOutlookAddin/v16
