################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFlashWebOutlookAddin/.vs/MFlashWebOutlookAddin/v16
/MFlashWebOutlookAddin/bin/Debug
/MFlashWebOutlookAddin/obj/Debug
/MFlashWebOutlookAddinWeb/bin
/MFlashWebOutlookAddinWeb/obj/Debug
